.pink {
    background-color: #FF2288;
    border-color: #FF2288;
  }

.selector:hover {
    background: #FF2288;
}

.filter-selector:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
}

.gray {
    background-color: #FAFAFA;
    border-color: #FAFAFA;
}

.gr{
    background-color: #F2F2F2;
}

.following:hover{
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

.gr-br {
    border-color: #D8D8D8;
}


.pink-text {
    color: #FF2288;
}

.card-img-overlay {
    top: 30px;
    left: 35px;
    padding: 5px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
} 

tr {
    width: 100%;
    display: inline-table;
    max-height: 62px;        
    height: 100%;       
}
