.pink {
    background-color: #FF2288;
    border-color: #FF2288;
  }

.selector:hover {
    background: #FF2288;
}


.filter-selector:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
}


.pink-text {
    color: #FF2288;
}

/* .search-icon {
    position: absolute;
    background: url('../images/nav-bar/Component\ 9\ –\ 2.svg') no-repeat left center;
} */
